.detail-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #E1D6CF;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.07);
}

.detail-left h2 {
  margin: 0;
  color: #6B564E;
}

.detail-stars {
  color: #B88976;
  margin: 10px 0;
}

.detail-location {
  font-weight: bold;
  color: #6B564E;
}

.description {
  margin-top: 10px;
  color: #6B564E;
  font-size: 15px;
}

.reviews-link {
  margin-top: 15px;
  color: #B88976;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.big-calendar {
  font-size: 80px;
  color: #B88976;
}

.detail-btn {
  margin-top: 10px;
  background: #B88976;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.detail-btn:hover {
  background: #a87563;
}
